name: PHPUnit

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  phpunit:
    name: PHPUnit

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD:toor
          MYSQL_USER:root
          MYSQL_PASSWORD:toor
          MYSQL_DATABASE:studoslug

    steps:
    - uses: actions/checkout@v1
    - uses: carlosabcs/lumen-phpunit-action@master
